#education-flex-container {
    background-image: url(../assets/moon_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    height: 100%;
    position: relative;
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    color: rgba(255,255,255,.87);
    height: 100vh;
    overflow-y: scroll;
}

.education-container {
    margin: 0.8vh calc(20vw - 50px);
    background-color: #121212;
    background-color: #111111e8;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    border-radius: 6px;
}

#education-title {
    color: #eeeeee;
    padding: 1%;
}

.education-info-box {
    width: 100%;
    padding: 2%;
    color: #eeeeee;
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0;
}
