#headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    padding: 1vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 99vw;

}

#headline {
    color: #ddd;
    font-weight: 450;
    font-size: 1.8vw;
    margin-bottom: 0;
}

.blackboard{
    display: flex;
    justify-content: center;
    background-color: #020202;
    color: white;
    height: 94vh;
}

.column{
    margin: 0.5vw;
}

#left-column {
    width: 18vw;
}

#middle-column {
    width: 58vw;
    margin-left: 0;
    margin-right: 0;
}

#right-column {
    width: 24vw;
}

.column-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    padding: 1vw;
    margin-bottom: 0.5vw;
}

.column-item-heading {
    font-size: 2.5vmin;
}

#total-launches {
    color: white;
    height: 16vh;
    line-height: 1;
}

#total-launches-number {
    color: red;
    font-size: 8vh;
    font-weight: normal;
    margin-bottom: 0;
}

#map-container {
    border-style: solid;
    border-width: 1px;
    border-color: #444;
}

#launches-plot-year {
    width: 100%;
}

#launch-rank-title {
    font-size: 2vmin;
    font-weight: 700;
}

#launch-rank-list {
    height: 50vh;
    overflow-y: scroll;
}