.blackboard{
    display: flex;
    justify-content: center;
    background-color: #020202;
    color: white;
    height: 100vw;
}

.column{
    margin: 0.5vw;
}

#left-column {
    width: 18vw;
}

#middle-column {
    width: 58vw;
    margin-left: 0;
    margin-right: 0;
}

#right-column {
    width: 24vw;
}

.column-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 1vw;
    margin-bottom: 0.5vw;
}

.column-item-heading {
    font-size: 3vmin;
}

#total-launches {
    color: white;
    height: 16vh;
    line-height: 1;
}

#total-launches-number {
    color: red;
    font-size: 8vh;
    font-weight: normal;
}

#map-container {
    color: aliceblue;
}

#launches-plot-year {
    width: 100%;
}

#launch-rank-list {
    height: 40vh;
    overflow-y: scroll;
}